<!DOCTYPE html>
<html lang="en">

<head>
    <title>NoviNext Wallet | بانک کشاورزی </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="walletbackend/images/favicon.ico" />
    <link rel="icon" type="image/png" href="images/favicon.ico" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="walletbackend/css/util.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">

    <link rel="stylesheet" type="text/css" href="walletbackend/css/main.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!--===============================================================================================-->
</head>

<body>
    <div class="bg-img1 size1 flex-w flex-c-m p-b-55 p-l-15 p-r-15" >
        <div class="wsize1 bor1   p-b-45 p-l-15 p-r-15 respon1">
            <div class="wrappic1">
                <img src="@ViewBag.BaseUrl/images/wallet-back.png" alt="LOGO" class="ads">
            </div>
            <p class=" txt-center p3">
                هرگونه دسترسی غیرمجاز به این سامانه مشمول ماده 729 و 730 و 731 قانون مجارات اسلامی خواهد شد.
            </p>
              <p class=" txt-center p2">
                تحلیل، طراحی و توسعه توسط اداره کل مهندسی نرم افزار شرکت گسترش فناوری‌های نوین
            </p>
            <p class=" txt-center p2">
                @ViewBag.Version
            </p>

            @*<img src=@ViewBag.x />*@
        </div>
    </div>
</body>

</html>